.main {
  flex: 1;
}

h2 {
  color: white;
  font-size: 2rem;
}

.bg-dark {
  background-color: #12002b;
}

.header {
  margin-bottom: 2rem;
}

.form-button {
  width: 100%;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .transaction-button {
    width: 200px;
  }
 
}
